<h2>Available drones</h2>
<ul>
    {{#each result}}
        <h4>Name: {{this.name}}</h4>
        <li>Propellers nr: {{this.propellers}}</li>
        <li>Max. Speed (m/s): {{this.maxSpeed}}</li>
        <div>
            <a class="droneLink" href="/drones/{{this._id}}/edit">Edit</a>       
            <form method="POST" action="/drones/{{this._id}}/delete"> 
                <a class="droneLink" href="/drones/{{this._id}}/delete">Delete</a>
            </form>
        </div>
        <br>
    {{/each}}
</ul>